@charset "utf-8";

.page-topics .topic-list {
  li {
    border-bottom: solid 1px #dddddd;
    a {
      padding: 10px 15px;
      display: block;
      .topic-title {
        color: #333333;
        font-size: 16px;
        font-weight: bolder;
        line-height: 24px;
        height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .topic-content {
        display: flex;
        padding-top: 10px;
        .topic-avatar {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;
          overflow: hidden;
        }
        .topic-info {
          flex: 1;
          width: 0;
          p {
            display: flex;
            padding: 3px 0;
            span:first-child {
              flex: 1;
              width: 0;
            }
            span:last-child {
              text-align: right;
            }
            .topic-author {
              color: #666666;
            }
            .topic-total {
              color: #666666;
              b {
                color: #80bd01;
              }
            }
            .topic-ctime {
              color: #999999;
            }
            .topic-rtime {
              color: #999999;
            }
          }
        }
      }
    }
  }
}