@charset "utf-8";

.page-about .page-cont {
  padding: 64px 15px 20px;
  .about-title { font-size: 16px; color: #333333; line-height: 1.5; padding: 10px 0; font-weight: bolder;}
  .about-desc { font-size: 14px; border-bottom: solid 1px #dddddd; line-height: 1.5; padding-bottom: 10px;
    a { color: #80bd01;}
  }
}