@charset "utf-8";

.mask {position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);z-index: 9; visibility: hidden; opacity: 0; transition: all 0.2s ease-out;
  &.open { visibility: visible; opacity: 1;}
}
.sidebar { position: fixed; left: 0; top: 0; width: 150px; height: 100%; transition: all 0.2s ease-out; transform: translate(-150px, 0) translateZ(0); background-color: #ffffff; z-index: 99;
  .logo { margin: 0 15px; padding: 20px 0; width: 120px; border-bottom: 1px solid #dddddd;
    img { width: 100%; background-color: #444444;}
  }
  .menu-list { padding: 20px;
    a { display: block; line-height: 24px; font-size: 16px; padding: 10px 0;
      &.active { color: #80bd01;}
    }
  }
  &.open { transform: translate(0,0) translateZ(0);}
}